<h2>Edit game</h2>
<form [formGroup]="gameForm" (ngSubmit)="updateGame()">
  <label>Game name*:
    <input name="name" formControlName="name" required/>
  </label>
  <label>Description*:
    <input name="description" formControlName="description" required/>
  </label>
  Developer*:
    <select formControlName="developerId" name="developerId" required>
      <option *ngFor="let developer of developers"
        [value]="developer.developerId">
        {{developer.name}}
      </option>
    </select>
  Publisher:
    <select formControlName="publisherId" name="publisherId">
      <option value="" selected></option>
      <option *ngFor="let publisher of publishers"
        [value]="publisher.publisherId">
        {{publisher.name}}
      </option>
    </select>
  Genres:
    <div *ngFor="let genreContol of gameForm.controls.genres.controls; let i=index;">
      <label formArrayName="genres">
        <input
          type="checkbox"
          [formControlName]="i"/>
          {{ genres[i].name }}
      </label>
    </div>
    <button type="submit">edit game</button>
</form>
