<h3>Publisher info</h3>
<div class="publisher">
  <div>
    <span>Name:</span>
    <span>{{ publisher.name }}</span>
  </div>
  <div>
    <div>
      <span>Games:</span>
    </div>
    <div *ngFor="let game of publisher.game">
      <div>
        <span>Game:</span>
        <span>{{ game.name }}</span>
      </div>
      <div>
        <div>
          <span>Genres:</span>
        </div>
        <div *ngFor="let gameGenre of game.gameXrefGenre ">
          <span>{{ gameGenre.genre.name }}</span>
        </div>
      </div>
      <div *ngIf="game.developerId">
        <a [routerLink]="['/games', game.gameId]">
          <span>full information</span>
        </a>
      </div>
    </div>
  </div>
</div>
