.container {
  max-width: 250px;
}

.container li {
  position: relative;
  cursor: pointer;
  list-style: none;
  background-color: #EEE;
  margin: 5px;
  padding: 4px 0;
  height: 25px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.container li:hover {
  color: #607D8B;
  background-color: #DDD;
}

.container li input {
  align-self: center;
}

.container li button {
  height: 30px;
  display: none;
  align-self: center;
}

.container li:hover {
  button {
    display: flex;
  }
}

.container a {
  color: #888;
  text-decoration: none;
  position: relative;
  flex-basis: 100%;
}

.container a:hover {
  color:#607D8B;
}
