<h3>developer info</h3>
<div class="developer">
  <span>Name: </span>{{ developer.name }}
  <div>
    <span>Games:</span>
    <div *ngFor="let game of developer.game">
      <span>Game: </span>{{ game.name }}
      <div>
        <span>Genres:</span>
        <div *ngFor="let gameGenre of game.gameXrefGenre ">
          <span>{{ gameGenre.genre.name }}</span>
        </div>
      </div>
      <div *ngIf="game.developerId">
        <a [routerLink]="['/games', game.gameId]">full information</a>
      </div>
    </div>
  </div>
</div>
