<h3>developer info</h3>
  <span class="header-name">Name: </span>
  <input [(ngModel)]="developer.name"/>
  <button (click)="updateDeveloper()">save</button>
  <div>
    Games:
    <div class="container">
      <div class="item" *ngFor="let game of developer.game">
        <span>Name: </span>{{ game.name }}
        <div>
          Genres:
          <ul>
            <li *ngFor="let gameGenre of game.gameXrefGenre ">
              {{ gameGenre.genre.name }}
            </li>
          </ul>
        </div>
        <div *ngIf="game.developerId">
          <a [routerLink]="['/games', game.gameId]">game info</a>
        </div>
      </div>
  </div>
</div>
