<ul class="container">
</ul>
<h2>games list</h2>
<div>
  <label>Developer name:
    <input #developerName />
  </label>
  <button (click)="addDeveloper(developerName.value); developerName.value=''">
    add
  </button>
</div>
<ul class="container">
  <li class="list" *ngFor="let game of games">
    <a class="card-name" [routerLink]="['/games', game.gameId]">
      <span>Game: {{ game.name }}</span>
      <div>Genres:
        <ul>
          <li *ngFor="let gameGenre of game.gameXrefGenre">
            {{gameGenre.genre.name}}
          </li>
        </ul>
      </div>
    </a>
    <button class="close" (click)="deleteGame(game)">X</button>
  </li>
</ul>
