<ul class="container">
</ul>
<h2>games list</h2>
<div>
  <form #formGame="ngForm" (ngSubmit)="createGame(formGame)">
    <label>Game name*:
      <input name="name" ngModel required/>
    </label>
    <label>Description*:
      <input name="description" ngModel required/>
    </label>
    <label>Developer*:
      <select [ngModel]="developers" name="developerId" required>
        <option *ngFor="let developer of developers"
          [value]="developer.developerId">
          {{developer.name}}
        </option>
      </select>
    </label>
    <label>Publishers:
      <select [ngModel]="publishers" name="publisherId">
        <option *ngFor="let publisher of publishers"
          [value]="publisher.publisherId">
          {{publisher.name}}
        </option>
      </select>
    </label>
    <button type="submit">add game</button>
  </form>
</div>
<ul class="container">
  <li class="list" *ngFor="let game of games">
    <a class="card-name" [routerLink]="['/games', game.gameId]">
      <span>Game: {{ game.name }}</span>
      <div>Genres:
        <ul>
          <li *ngFor="let gameGenre of game.gameXrefGenre">
            {{gameGenre.genre.name}}
          </li>
        </ul>
      </div>
    </a>
    <button class="close" (click)="deleteGame(game)">X</button>
  </li>
</ul>
