<h3>Game info</h3>
<div class="game">
  <div>
    <span>Name:</span> {{ game.name }}
    <a [routerLink]="['/games/', game.gameId, 'editor']">edit game</a>
  </div>
  <div>
    <span>Description:</span> {{ game.description }}
  </div>
  <div>
    Genres:
    <ul>
      <li *ngFor="let gameGenre of game.gameXrefGenre ">
        {{ gameGenre.genre.name }}
      </li>
    </ul>
  </div>
  <div>
    <a [routerLink]="['/developers', game.developer.developerId]">
      <span>Developer:</span> {{ game.developer.name }}
    </a>
  </div>
  <div *ngIf="game.publisher">
    <a [routerLink]="['/publishers', game.publisher.publisherId]">
      <span>Publisher:</span> {{ game.publisher.name }}
    </a>
  </div>
</div>
